/**
 * Note that these styles are loaded *after* common styles, so that
 * editor-specific styles using the same selectors will take precedence.
 */

/*FIX CSS BUG on focus*/
.editor-visual-editor__block-controls + div {
	padding-top: 15px;
    margin: 0;
}


.wp-block-aa-tweet {
	color: #e1e8ed;
	background: #1da1f2;
	border: 2px solid #1da1f2;
	padding: 20px;
}
